{% extends 'base.html' %} 

<title>{{ title }}</title> 
{% block content %} 
<div class="row"> 
  <aside class="col-12 col-md-3"> 
    <ul class="list-group list-group-flush"> 
      <li class="list-group-item"> 
        Дата публикации: {{ pub_date|date:"d E Y" }} 
      </li> 
      {% if posts.group %} 
      <li class="list-group-item"> 
        Группа: {{ posts.group.title }} <br> 
        <a href="{% url 'posts:group_list' posts.group.slug %}">все записи группы</a> 
        </li> 
      {% endif %} 
      <li class="list-group-item"> 
        Автор: {{ author }} 
      </li> 
      <li class="list-group-item d-flex justify-content-between align-items-center"> 
        Всего постов автора: <span>{{ author.posts.count }}</span> 
      </li> 
      <li class="list-group-item"> 
        <a href="{% url 'posts:profile' posts.author %}">все посты пользователя</a> 
      </li> 
    </ul> 
  </aside> 
  <article class="col-12 col-md-9"> 
    <p> 
      {{ posts.text }}  
    </p> 
    <a class="btn btn-primary" href="{% url 'posts:post_edit' posts.pk %}"> 
      редактировать запись 
    </a>  
  </article> 
</div>  
{% endblock %} 